/* ------ M E N U : ------ */
.menubar
{
	position:fixed;
	top: -26px;
	list-style-type: none;
    overflow: hidden;
    background-color: #f2f2f2;
	z-index: 3;
	width: 100%;
	font-size: 120%;
	padding: 0% 0%;
	transition: top 1s;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.menubar a
{
	vertical-align: middle;
	top: 5px;
	vertical-align: middle;
    color: #595959;
    text-align: center;
    text-decoration: none;
	border-bottom: 2px solid transparent;
	float: left;
	padding: 1.5% 2%;
}

.menubar a:hover
{
    border-bottom: 2px solid #84d279;
	cursor:pointer;
}


/* ------ L O G I N   B U T T O N : ------ */

.login_button {
	position: fixed;
	z-index: 4;
	display: inline-block;
	border-radius: 4px;
	background-color: #a6df9f;
	border: none;
	color: #ffffff;
	text-align: center;
	height: 40px;
	width: 130px;
	top: 10px;
	right: 100px;
	transition: all 1s;
	cursor: pointer;
	font-size: 120%;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.login_button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.login_button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.login_button:hover span {
	padding-right: 25px;
}

.login_button:hover span:after {
	opacity: 1;
	right: 0;
}



/* ------ T I T R E : ------ */

h1
{
	font-family: Helvetica;
	position: relative;
	margin: 8% 0%;
	width: 100%;
	text-align: center;
	font-size: 700%;
}


/* ------ B O D Y : ------ */
body
{
	margin: 0px 0px;
	text-align: center;
	font-family: Helvetica;
	background-color: #a6df9f;
	color: #ffffff;

}

.textez
{
	position: relative;
	text-align:center;
	height: 100%;
	width:100%;
	font-size: 140%;

}

#bg_left
{
	width: 20%;
	height: 100%;
	position: fixed;
	z-index: 2;
	left:0;
	top: 0;
}

#bg_right
{
	width: 20%;
	height: 100%;
	position: fixed;
	z-index: 2;
	right:0;
	top: 0;
}

#portrait2
{
	text-align: center;
	width: 40%;
	height: 40%;
	border-radius: 10%;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

/* ------ L O G I N   F O R M ------ */
.login-form
{
	width: 500px;
    margin: 100px auto;
	text-align: center;
}
.login-form form
{
	margin-bottom: 20px;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 50px;
	color: #595959;
}
.login-form h2
{
    margin: 0 0 20px;
	font-size: 400%;
	text-align: center;
}
.form-control, .btn
{
	text-align: center;
	margin: 0 0 15px;
    min-height: 38px;
	border: 2px solid #a6df9f;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
	background-color: #a6df9f;
	color: #595959;

}
.btn
{
    font-size: 15px;
    font-weight: bold;
}

.pageGallery {
    box-sizing: border-box;
    padding: 3vh 5vw 3vh 5vw
}

.gallery{
    max-width: 90vw;
    display: block;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.images{
    width: 15vw;
    height: auto;
    padding:2.5vw;
    position: relative;
}

.images img{
    width: 15vw;
    height: auto;
}

.images button{
    opacity: 0;
}

.images img:hover {
    opacity: 0.5;
}

.images img:hover + button{
    opacity: 1;
}

.button:hover {
    opacity: 1;
}


.button {
    background-image: url(./images/star.png);
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 33px;
    right: 34px;
}
section {
  margin-top: 25px;
}
